.container {
  max-width: 980px;
  margin: 0 auto;
  background: white;
  padding: 1em 3em;
}

.container_empty {
  max-width: 980px;
  margin: 0 auto;
  align-self: center;
}

.highlight {
  background-color: yellow;
}

p {
  color: "#222";
  font-size: small;
}

.alogo {
  max-width: 23px;
  margin: -2px 1em 0 0;
}

section.module.parallax-1 {
  background-image: url(../img/world2.jpg);
  height: 515px;
}

section.module.parallax h1 {
  font-size: 4em;
  padding-top: 0.5em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section.module.parallax h2 {
  font-size: 2em;
  text-transform: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section.module.parallax h3 {
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 400;
}

.h4, h4 {
  font-size: 1.2em;
}

#sdgwheel {
  width: 46px;
  height: 46px;
}

#menu_container {
  background-color: black;
}

.bg-dark {
  background-color: black !important;
}

.menuBottomArea {
    top: 1em;
}

  main.container {
    margin-top: 1em;
}
