.container {
  max-width: 980px;
  margin: 0 auto;
  background: white;
  padding: 1em 3em;
}

.container_empty {
  max-width: 980px;
  margin: 0 auto;
  align-self: center;
}

.highlight {
  background-color: yellow;
}

p {
  color: "#222";
}

.alogo {
  max-width: 30px;
  margin: 4px 1em 0 0;
}

section.module.parallax-1 {
  background-image: url(../img/world3.jpg);
  height: 600px;
}

section.module.parallax h1 {
  font-size: 4em;
  padding-top: 1em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section.module.parallax h2 {
  font-size: 2em;
  text-transform: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

#sdgwheel {
  width: 46px;
  height: 46px;
}

#menu_container {
  background-color: black;
}

.bg-dark {
  background-color: black !important;
}